@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <p>
        This is a simple service that contains some basic CRUD operations against a list of cars
    </p>
</div>
